<div id="header" class="navbar navbar-fixed-top">
    <div class="sticky-bar-wrap">
        <div class="sticky-section effects-navbar">
            <div id="topbar-hold" class="nav-hold container">
                <nav class="navbar" role="navigation">
                    <div class="navbar-header">
                        <a href="javascript:void(0)">
                            <img src="images/pomodoro-logo.png"/>
                        </a>
                    </div>
                    <div class="navbar-collapse" ng-show="authenticated">
                        <button ng-click="signOut()"
                            class="btn btn-default center-block pull-right" type="button"><h6>Sign out</h6></button>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>